* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Helvetica Neue', sans-serif;
}

//テキストの色やサイズを一括指定
li, a {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: rgb(51, 51, 51);
	text-decoration: none;	//アンダーラインを消す
	list-style: none;	//「・」を消す

}

//ボタンのデフォルトの装飾を消す
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	//background: lightgray;
	header {
		//background: gray;
		display: flex;
		padding: 0 36px;
		width: 100%;
		height: 64px;
		justify-content: space-between;
		.left-container {
			display: flex;
			position: relative;
			height: 100%;
			align-items: center;
			//justify-content: flex-start;
			.logo {
				//background: orange;
				img {
					width: 110px;
				}
			}
			.search {
				display: flex;
				width: 540px;
				height: 100%;
				align-items: center;

				input {
					background: #f5f5f5;
					width: 100%;
					height: 34px;
					padding: 0 16px;
					line-height: 1.4em;
					border: 1px solid rgb(204,204,204);
					border-radius: 4px;
					margin-left: 24px; 
					font-size: 16px;
				}
			}
			button {
				width: 32px;
				height: 32px;
				position: absolute;
				top: 16px;
				right: 0px;

				background: transparent;
				//background: gray;

				border-radius: 4px;
			}
			button:hover {
				background: green;
			}
		}
		nav {
			//background: green;
			display: flex;
			align-items: center;
			.nav-links {
				li {
					//background: red;
					display: inline-block;
					width: 72px;
					padding: 8px;
					border-radius: 4px;
				}
				li:hover {
					background: yellow;
				}
			}
			button {
				display: flex;
				align-items: center;
				margin-left: 10px;
				background-color: #ff333f;
				color: white;
				cursor: pointer;
				font-size: 14px;
				font-weight: 700;
				justify-content: center;
				transition: all 0.1s ease 0s;
			
				border: none;
				border-radius: 4px;
				padding: 8px 16px;
			}
			button:hover {
				opacity: 0.5;
				text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);

			}
		}
	}
	
	.tab-container {
		//background: blue;
		max-width: 1280px;
		margin: 0 auto;
		padding: 0px 36px;

		.nav-links {
			li {
				display: inline-block;
				padding: 10px 30px;
				a {
					font-weight: bold;
				}
			}
			li.is-active {
				a { color: red;}
				border-bottom: solid;
				border-color: red;
				border-width: 3px;
			}
		
			li:hover {
				background: #F2F2F2;
			}
		}

	}
	.line-container {
		//background: lightgray;
		width: 100%;
		height: 1px;
		display: flex;
		//justify-content: flex-start;
		//padding: 0 36px;
		border-bottom: solid;
		border-color: lightgray;
		border-width: 1px;
	}

	.red-container {
		//background: red;
		max-width: 1280px;
		margin: 0 auto;
		padding: 40px 36px 64px 36px;
		.banner {
			img {
				width: 100%;
				height: 100%;
				border-radius: 8px;

			}
		}
		.heading-tab {
			color: rgb(100, 100, 100);
			font-weight: 700;
			font-size: 20px;
			margin: 20px 0 16px 0;
		}
		.item-parent {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
	
			.item {
				position: relative;
				//2行以上は非表示
				//TODO 文字が1行分しかない時でも2行分の領域は確保したいが、1行分しか表示されない
				img {
					width: 100%;
					height: 100%;
					border-radius: 4px;
				}
				.price-background {
					background-color: rgba(0, 0, 0, 0.5);
					position: absolute;
					padding: 6px 8px 8px 8px;
					font-size: 14px;
					font-weight: 700;

					//top: 80%;
					color: white;
					// 左上 右上 右下 左下
					border-radius: 0px 15px 15px 0px;
				}
				.line_wrap {
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					font-size: 14px;
				}
			}
		}
	}
}


//sm: 640
//md: 768
//lg: 1024
//xl: 1280
//2xl: 1536
@media screen and ( 0 < width ) {
	.wrapper {
		.color-info {
			background: pink
		}
		header {
			.left-container {
				.search {
					display: none;
				}
				button {
					position: static;
					margin-left: 200px;
				}
			}
			nav {
				display: none;
			}

		}
		.red-container {
			.item-parent {
				grid-template-columns: repeat(1, 1fr);
				grid-column-gap: 3px;
				grid-row-gap: 1px;
				.item {
					.line_wrap {
						display: none;
					}
					.price-background {
						top: 85%;
					}
				}
			}
		}
	}
}
@media screen and ( 510px < width ) {
	.wrapper {
		.color-info {
			background: blue;
		}
		header {
			.left-container {
				.search {
					display: none;
				}
				button {
					position: static;
					margin-left: 200px;
				}
			}
			nav {
				display: none;
			}
		}
		.red-container {
			.item-parent {
				grid-template-columns: repeat(3, 1fr);
				.item {
					.line_wrap {
						display: none;
					}
					.price-background {
						top: 70%;
					}
				}
			}
		}
	}
}
@media screen and ( 768px < width ) {
	.wrapper {
		.color-info {
			background: red;
		}
		header {
			nav {
				display: flex;
			}
		}
		.red-container {
			.item-parent {
				grid-template-columns: repeat(3, 1fr);
				.item {
					.line_wrap {
						display: none;
					}
					.price-background {
						top: 80%;
					}
				}
			}
		}
	}
}
@media screen and ( 1024px < width ) {
	.wrapper {
		.color-info {
			background: green;
		}
		header {
			.left-container {
				.search {
					display: flex;
					width: 540px;
					height: 100%;
					align-items: center;
				}
				button {
					position: absolute;
					top: 16px;
					right: 0px;
				}

			}
		}

		.red-container {
			.item-parent {
				grid-template-columns: repeat(5, 1fr);
				grid-column-gap: 20px;
				grid-row-gap: 20px;
				.item {
					.line_wrap {
						display: -webkit-box;
					}
					.price-background {
						top: 65%;
					}
				}
			}
		}
	}
}
@media screen and ( 1280px < width ) {
	.wrapper {
		.color-info {
			background: yellow
		}
		.red-container {
			.item-parent {
				grid-template-columns: repeat(5, 1fr);
				.item {
					.line_wrap {
						display: -webkit-box;
					}
				}
			}
		}
	}
}
