* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li, a {
	color: #000;
  text-decoration: none;
  list-style: none;
}
body {
	background: #ccc;
	height: 100vh;
}
.header {
	display: flex;
	height: 70px;
	background: white;
	align-items: center;
	justify-content: flex-end;
}
.burger {
	width: 40px;
	height: 40px;
	background-size: contain !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background: url(./images/ico_burger.svg)
}

/*バーガーメニュー*/
@media screen and (width > 899px){
 .burger {
		display: none;
	}
}
