* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}
.container {
	background: #B8F7F7;
	border: 3px solid #0BC2D6;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

}
.item {
	color: white;
	width: 200px;
	height: 200px;
}
.pict {
	width: 20px;
	height: 20px;
}
.one {
	background: red;
}
.two {
	background: blue;
	background-image: url("./jacket.jpg")
}
.three {
	background: green;
}
.four {
	background: yellow
}
.five {
	background: purple;
}
.six {
	background: orange;
}
