* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	width: 100vw;
	height: 100vh;
	/*background: gray;*/
}
.container {
	width: 100%;
	height: 64px;
	/*background: red;*/
	/*border: 1px solid blue;*/
	padding: 0 24px;
	display: flex;
	justify-content: space-between;


}
.left-items {
	height: 100%;
	/*background: yellow;*/
	display: flex;
	align-items: center;
}
.logo {
	width: 110px;
	height: 100%;
	/*background: purple;*/
	display: flex;
	align-items: center;
}
.search {
	height: 34px;
	width: 524px;
	background: rgb(245,245,245);
	border: 1px solid rgb(204,204,204);
	border-radius: 4px;
	padding: 0 16px;
	margin-left: 24px; 
	font-size: 15px;
	/*rgb(204,204,204);*/
	color: red; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(157,157,157);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(157,157,157);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(157,157,157);
}
/*左側だけ角丸にする*/
/*input[type="text"] {
	border-top-left-radius : 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-bottom-left-radius : 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}*/

.search-button {
	height: 20px;
	width: 20px;
	background: rgb(245,245,245);
	/*background: orange;*/
	border: none;
	/*border: 1px solid rgb(204,204,204);*/
	border-left: 1px solid rgb(245,245,245);
	border-radius: 4px;
	margin-left: -32px;
	margin-top: -5px;

	border-top-left-radius : 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-bottom-left-radius : 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
}

.search-button:hover {
  opacity: 0.5;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.right-items {
	height: 100%;
	/*background: brown;*/
	display: flex;
	/*flex-direction: row;*/
	/*justify-content: center;*/
	align-items: center;
}
.nav-link {
	/*background: pink;*/
	list-style: none;
	display: flex;
}
.nav-link li {
	width: 56px;
	font-size: 14px;
	margin-left: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-link a {
	text-decoration: none;
	/*color: black;*/

}
a:any-link {
	color: rgb(51,51,51);
	text-decoration-color: hotpink;
}
.nav-link .btn {
	display: flex;
	width: 62px;
	height: 36px;
	font-size: 14px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	background: #ff333f;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 0;


}

